{% extends "podomarket_base/base_with_header.html" %}

{% load widget_tweaks %}

{% block title %}パスワード変更 | ポドマーケット{% endblock title %}

{% block content %}
<div class="password-reset podo-box">
  <h1 class="heading">パスワード変更</h1>
  <form class="form" method="post">
    {% csrf_token %}
    <div>
      {{ form.oldpassword|add_class:"podo-input"|add_error_class:"error"|attr:"placeholder:現在のパスワード" }}
      {% for error in form.oldpassword.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    <div>
      {{ form.password1|add_class:"podo-input"|add_error_class:"error"|attr:"placeholder:新しいパスワード" }}
      {% for error in form.password1.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    <div>
      {{ form.password2|add_class:"podo-input"|add_error_class:"error"|attr:"placeholder:パスワード(再入力)" }}
      {% for error in form.password2.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    <button class="podo-button large primary submit" type="submit">保存</button>
  </form>
</div>
{% endblock content %}
