{% extends "podomarket_base/base_with_navbar.html" %}

{% load static %}
{% load humanize %}

{% block title %}{{ profile_user.nickname }} | ポドマーケット{% endblock title %}

{% block content %}
<div class="podo-card profile-header">
  <div class="profile-pic" style="background-image: url('{{ profile_user.profile_pic.url }}')"></div>
  <div class="info">
    <div class="nickname">{{ profile_user.nickname }}</div>
    <ul class="podo-links">
      <li>{{ profile_user.line_id }}</li>
      <li class="divider"></li>
      <li>{{ profile_user.address }}</li>
    </ul>
  </div>
</div>

<div class="post-list">
  <div class="header">
    <h2>{{ profile_user.nickname }}の商品</h2>
    {% if user_posts %}
      <a class="link" href="#">
        <span>全ての商品を見る</span>
        <img class="triangle-icon" src="{% static 'podomarket/icons/ic-triangle.svg' %}" alt="triangle icon">
      </a>
    {% endif %}
  </div>
  <div class="posts">
    {% for post in user_posts %}
      <div class="podo-card post">
        <img class="thumb" src="{{ post.image1.url }}" alt="thumb img">
        <div class="content">
          <h2 class="title">{{ post.title }}</h2>
          <div class="price-and-status">
            <span class="price">
              {{ post.item_price|intcomma:False }}원
            </span>
          </div>
          <div class="meta">
            {{ post.dt_created|date:"Y.m.d" }}&nbsp;|&nbsp;{{ post.author.address }}
          </div>
          <a class="podo-button primary button" href="{% url 'post-detail' post.id %}">
            詳細を見る
          </a>
        </div>
      </div>
    {% empty %}
      <p class="empty">登録した商品がありません :(</p>
    {% endfor %}
  </div>
</div>
{% endblock content %}
